.container {
     width: 100%;
     mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

.item {
     flex-shrink: 0;
     margin: 0 1.5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 7rem;
}

@media (min-width: 768px) {
     .item {
          margin: 0 2.5rem;
     }
}

.iconWrapper {
     height: 3rem;
     width: 3rem;
     margin-bottom: 0.75rem;
     display: flex;
     align-items: center;
     justify-content: center;
}

.icon {
     height: 2.5rem;
     width: 2.5rem;
     color: white;
     opacity: 0.7;
     transition: opacity 300ms ease-in-out;
}

.name {
     font-size: 0.875rem;
     line-height: 1.25rem;
     font-weight: 500;
     color: white;
     opacity: 0.7;
     transition: opacity 300ms ease-in-out;
}

@media (min-width: 768px) {
     .name {
          font-size: 1rem;
          line-height: 1.5rem;
     }
}

.item:hover .icon,
.item:hover .name {
     opacity: 1;
}
