{
     "semi": true,
     "singleQuote": true,
     "tabWidth": 5,
     "trailingComma": "es5",
     "printWidth": 100,
     "bracketSpacing": true,
     "arrowParens": "always",
     "endOfLine": "lf",
     "overrides": [
          {
               "files": "*.ts",
               "options": {
                    "parser": "typescript"
               }
          }
     ]
}
