.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: flex-end;
    padding: 4rem 40px 200px;
    background-image: linear-gradient(to bottom, black 50%, #4D00CC 100%);
}

.expertiseSection {
    width: 100%;
    text-align: start;
    margin-bottom: 3rem;
}

.expertiseSection h2 {
    font-size: 4.5rem;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
}

.expertiseSection .highlight {
    color: #4D00CC;
}

.expertiseSection p {
    font-size: 1.125rem;
    color: #ccc;
    margin-top: 1rem;
    max-width: 50%;
}

/* Tablet */
@media (max-width: 1024px) {
    .wrapper {
        padding-bottom: 150px;
    }

    .expertiseSection h2 {
        font-size: 3rem;
    }

    .expertiseSection p {
        font-size: 1rem;
        max-width: 100%;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .wrapper {
        padding: 2rem 2rem 100px;
    }

    .expertiseSection {
        text-align: start;
        margin-bottom: 2rem;
    }

    .expertiseSection h2 {
        font-size: 2rem;
    }

    .expertiseSection p {
        font-size: 0.9rem;
        max-width: 100%;
    }
}
