.wrapper {
    width: 100%;
    padding: 20px;
    height: auto;
    background-image: linear-gradient(to bottom, #000000 50%, #4D00CC 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}




.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: end;
    padding-bottom: 200px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }
}
